.tree .graph{
	background: black;
}

.tree .content-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tree .rel{
	position: absolute;
	/*width: 100px;*/
}

.tree .r-f{
	border-image: url("https://rawgit.com/Irydae/Web/master/frame2.png") 30 stretch;
	border-image-width: 15px;
	padding: 10px;
}

.tree .r-p img{
	display: inline-block;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

.tree .r-n{
	/*width: 100px;*/
	color: white;
}

.tree .r-d {
	float: right;
	background: rgba(0,0,0,0.7);
	height: 100px;
	transition: width 0.25s ease, margin 0.25s ease;
	width: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.tree .r-d.r-r{
	float: left;
}

.tree input[type="checkbox"]:checked ~ .r-d{
	width: 150px;
}

.tree input[type="checkbox"]:checked ~ .r-d.r-r{
	margin-left: -150px;
}

.tree .legend {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	border: 1px solid black;
	border-radius: 10px;
}

.tree .legend tr > td div {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}