.tree .graph{
	background: black;
}

.tree .content-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tree .rel{
	position: absolute;
	width: 150px;
}

.tree .r-f{
	border-image: url("https://rawgit.com/Irydae/Web/master/frame2.png") 30 stretch;
	border-image-width: 15px;
	padding: 10px;
}

.tree .r-p img{
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.tree .r-n{
	/*width: 100px;*/
	color: white;
}

.tree .r-d {
	transition: height 0.25s ease;
	transform-origin: top;
	height: 0;
	overflow: auto;
}

.tree input[type="checkbox"]:checked + .r-d{
	border-top: 1px solid white;
	height: 75px;
}

.tree .legend {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	border: 1px solid black;
	border-radius: 10px;
}

.tree .legend tr > td div {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}