.tree .graph{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 1000px;
}

.tree .content-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tree .row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}

.tree .rel{
	background-image: url("https://rawgit.com/Irydae/Web/master/frame2.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 20px;
	/*height: 200px;*/
	width: 125px;
}

.tree .r-p{
	display: table-row;
}

.tree .r-p img{
	display: block;
	width: 50%;
	/*width: 100px;*/
	margin-left: auto;
	margin-right: auto;
}

.tree .r-n{
	width: 100px;
}

.tree .r-d {
	transition: height 0.25s ease;
	transform-origin: top;
	height: 0;
	overflow: auto;
	width: 100%;
}

.tree input[type="checkbox"]:checked + .r-d{
	border-top: 1px solid black;
	height: 75px;
}

.tree .legend {
	background: transparent;
	position: absolute;
	top: 0;
	left: -200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 10px;
}

.tree .legend tr > td div {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}